* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.split {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-left, .div-board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  max-width: 600px;
  max-height: 600px;
}

.div-board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
}

.camera-feed {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.board {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .split {
    width: 100%;
    height: 50%;
  }

  .container-left, .div-board {
    width: 90%;
    height: 90%;
    max-width: 300px;
    max-height: 300px;
  }
}
