* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.split {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-color: black;
  color: white;
  position: relative;
}

.right {
  background-color: white;
  color: black;
  position: relative;
}

.navbar-image {
  position: absolute;
  top: 23px;
  left: 0;
  width: 200px;
  height: auto;
  z-index: 10;
}

.piece-right-image {
  width: 130px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.div-board {
  width: 445px;
  height: 469px;
  position: absolute;
  top: 15%;
  left: 116px;
  overflow: hidden;
}

.container-left {
  width: 445px;
  height: 462px;
  background-color: #D9D9D9;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-left {
  position: absolute;
  top: 9%;
  left: 47%;
  width: 42px;
  height: 42px;
}

body {
  overflow-x: hidden;
}

.image-2 {
  position: absolute;
  top: 89%;
  left: 46%;
  width: 40px;
  height: auto;
}

.image-1 {
  position: absolute;
  top: 85%;
  left: calc(50% - 180px);
  width: 85px;
  height: auto;
}

.image-3 {
  position: absolute;
  top: 85%;
  left: calc(50% + 73px);
  width: 85px;
  height: auto;
}

/* Responsividade */

@media (max-width: 786px) {
  .app {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 917px;
  }

  .split {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .container-left {
    top: 53%;
    width: 263px;
    height: 273px;
  }

  .navbar-image {
    position: absolute;
    top: 5px;
    left: 0;
    width: auto;
    height: 29px;
    z-index: 100;
  }

  .image-left {
    top: 13%;
  }

  .image-1 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 151px;
    left: 84%;
  }

  .image-2 {
    width: 36px;
    height: 81px;
    top: 221px;
    left: 87%;
  }

  .image-3 {
    width: 60px;
    height: 60px;
    top: 312px;
    left: 84%;
  }

  .div-board {
    width: 267px;
    height: 281px;
    position: absolute;
    top: 10%;
    left: 17%;
    overflow: hidden;
  }

  .div-board img{
    width: 267px;
    height: 281px;
  }

  .piece-right-image {
    width: 107px;
    height: auto;
    right: 37%;
  }
}